# Mean, Median and Mode

In Statistics, measure of central tendency (measure of center) is a central or typical value for a probability distribution (Wikipedia). 
We are familiar with measures of central tendency called the mean, median and mode.

(-) Mean: Measure of average of all the values in a sample set. <br>
(-) Median: Measure of the central value of the sample set. <br>
(-) Mode: The value most recurrent in the sample set.

Load libraries

In [4]:
import pandas as pd
import numpy as np

Load dataset and remove the first two column

In [43]:
df = pd.read_csv("gapminder.csv")
df = df.iloc[:,2:]
df

     year  population continent  life_exp       gdp_cap
0    2007    31889923      Asia    43.828    974.580338
1    2007     3600523    Europe    76.423   5937.029526
2    2007    33333216    Africa    72.301   6223.367465
3    2007    12420476    Africa    42.731   4797.231267
4    2007    40301927  Americas    75.320  12779.379640
..    ...         ...       ...       ...           ...
137  2007    85262356      Asia    74.249   2441.576404
138  2007     4018332      Asia    73.422   3025.349798
139  2007    22211743      Asia    62.698   2280.769906
140  2007    11746035    Africa    42.384   1271.211593
141  2007    12311143    Africa    43.487    469.709298

[142 rows x 5 columns]

In [47]:
mean_ = df['life_exp'].mean()
print("Mean of life expectancy in the dataset is:", mean_)

Mean of life expectancy in the dataset is: 67.00742253521126

In [48]:
median_ = df['life_exp'].median()
print("Median of life expectancy in the dataset is:", median_)

Median of life expectancy in the dataset is: 71.93549999999999

In [50]:
mode_ = df['life_exp'].mode()
print("Mode of life expectancy in the dataset is:", mode_)

Mode of life expectancy in the dataset is: 0      39.613
1      42.082
2      42.384
3      42.568
4      42.592
        ...
137    81.235
138    81.701
139    81.757
140    82.208
141    82.603
Name: life_exp, Length: 142, dtype: float64