# Population and Sample

In Statistics and research area, population and sample are two important terms. Having a clear understanding of these terms is important if you want to conduct effective research

(-) Population is the entire group that you want to draw conclusions about. <br>
(-) sample is the specific group (subset of population) that you will collect data from.

Load libraries

In [1]:
import pandas as pd
import numpy as np

Load dataset and remove the first two column

In [2]:
df = pd.read_csv("gapminder.csv")
df = df.iloc[:,2:]
df

     year  population continent  life_exp       gdp_cap
0    2007    31889923      Asia    43.828    974.580338
1    2007     3600523    Europe    76.423   5937.029526
2    2007    33333216    Africa    72.301   6223.367465
3    2007    12420476    Africa    42.731   4797.231267
4    2007    40301927  Americas    75.320  12779.379640
..    ...         ...       ...       ...           ...
137  2007    85262356      Asia    74.249   2441.576404
138  2007     4018332      Asia    73.422   3025.349798
139  2007    22211743      Asia    62.698   2280.769906
140  2007    11746035    Africa    42.384   1271.211593
141  2007    12311143    Africa    43.487    469.709298

[142 rows x 5 columns]

In [3]:
sample_ = df.sample(10)
print("Below is 10 samples from the dataset (142 rows):", sample_)

Below is 10 samples from the dataset (142 rows):      year  population continent  life_exp       gdp_cap
84   2007      684736    Europe    74.543   9253.896111
96   2007     3204897      Asia    75.640  22316.192870
85   2007    33757175    Africa    71.164   3820.175230
82   2007   108700891  Americas    76.195  11977.574960
7    2007      708573      Asia    75.635  29796.048340
72   2007     3921278      Asia    71.993  10461.058680
11   2007     9119152  Americas    65.554   3822.137084
14   2007   190010647  Americas    72.390   9065.800825
102  2007    38518241    Europe    75.563  15389.924680
41   2007     4906585    Africa    58.040    641.369524